<h1> Admin Features </h1>

<div class="btn-group btn-group-lg">
    <a href="/admin/music_categories" class="btn btn-primary" role="button" >Create Music Category</a>

  </div>

<%= link_to 'Check buyer posts', music_instruments_path(:role => :buyer)%>
