<%= form_for [@music_category, SubCategory.new] do |form| %>

<div class="field">
  <%= form.text_field :name %>
</div>

<div class="actions">
  <%= form.submit "Add Sub Category" %>
</div>
<% end %>
